.input-div {
    justify-content: space-between;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

form > button {
    background-color: #e5e5e5;
}

.submittedInfo > button {
    background-color: #e5e5e5;
}

.subPractical > button {
    background-color: #e5e5e5;
}

.buttons > button {
    background-color: #e5e5e5;
}

.buttons {
    display: flex;
    gap: 10px;
    }

.subPractical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}